.wrapper {
  margin: 8em 2em 22em 2em;
  .spinner-icon {
    position: absolute;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    left: 0;
    transform: translateY(50%);
  }
  .error-message {
    text-align: center;
  }
  .abstract-wrapper,
  .semi-circle-wrapper {
    display: none;
  }
  .search-status {
    text-align: center;
    margin-bottom: 2em;
    span {
      font-weight: bold;
    }
  }
  .search-wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
  }
}

@media (min-width: 600px) {
  .wrapper {
    margin: 8em 10em 22em 10em;
    .search-wrapper {
      width: 100%;
      max-width: 500px;
    }
  }
}
@media (min-width: 1100px) {
  .wrapper {
    .abstract-wrapper,
    .semi-circle-wrapper {
      display: block;
      position: absolute;
      z-index: -100;
    }
    .abstract-wrapper {
      top: 0;
      right: 0;
      transform: translate(20%, 40%);
    }
    .semi-circle-wrapper {
      left: 0;
      transform: translate(-10%, 40%);
    }
  }
}
