.wrapper {
  margin: 2em;

  section.hero {
    height: 90vh;
    color: white;
    position: sticky;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-bottom: 5em;
    h1,
    .scroll-wrapper,
    .sub-heading,
    .scroll-wrapper p,
    .action-btn,
    .accent-svg {
      animation: fadeIn 5s;
    }
    .hero-content-light-mode,
    .hero-content-dark-mode {
      color: white;
    }
    .accent-svg {
      position: absolute;
      transform: translate(0%, -300%);
    }
    .accent-svg-dark-mode {
      path {
        fill: #00cc83 !important;
      }
    }
    .accent-svg-light-mode {
      path {
        fill: #602bf8;
      }
    }
    h1 {
      font-size: 3rem;
      line-height: 3.3rem;
      margin-top: 0;
      line-height: 1.2;

      .heading-accent-dark-mode {
        color: #00cc83;
      }
      .heading-accent-light-mode {
        color: #602bf8;
      }
    }

    .sub-heading {
      font-size: 1.3rem;
      margin-top: 2em;
      font-weight: 200;
      margin-bottom: 1.3em;
    }
    .scroll-wrapper {
      margin-top: 5em;

      text-align: left;
    }
    .scroll-dark-mode,
    .scroll-light-mode {
      svg {
        path {
          fill: white;
        }
      }
    }
  }
  .action-btn-wrapper {
    .action-btn-dark-mode,
    .action-btn-light-mode {
      color: rgba(0, 0, 0, 0.7);
      background-color: white;
      &:hover {
        background: none;
        color: white;
        border: 1px solid white;
        transition: background-color 200ms ease-out;
      }
    }

    .action-btn {
      border: none;
      padding: 0.5em;
      height: 36px;
      width: 60%;
      font-size: 1rem;
    }
  }

  .more-info {
    [data-scroll] {
      transition: all 2s;
    }
    [data-scroll='in'] {
      opacity: 1;
      transform: translateX(0);
    }
    [data-scroll='out'] {
      opacity: 0;
      transform: translateX(-200px);
    }

    padding-bottom: 2em;
    .feature {
      margin-bottom: 6em;

      svg {
        width: 100%;
        height: 20em;
      }

      .content {
        .title {
          font-weight: bold;
          font-size: 1.25rem;
        }
        .description {
          line-height: 1.5rem;
        }
        .darkmode-description {
          display: inline-block;
        }
        .lightmode-btn,
        .darkmode-btn {
          padding: 0.5em;
          height: 36px;
          width: 60%;
          font-size: 1rem;

          margin-bottom: 1.2em;
          outline: none;
        }
        .lightmode-btn {
          border: 1px solid black;
          background: white;
          &:hover {
            background-color: black;
            color: white;
            transition: background-color 200ms ease-out;
          }
        }
        .darkmode-btn {
          background-color: white;
          color: rgba(0, 0, 0, 1);
          border: none;
          &:hover {
            border: 1px solid white;
            background: none;
            color: white;

            transition: background-color 200ms ease-out;
          }
        }
      }
    }
  }
}

.hero-img-wrapper {
  height: 100%;
  width: 100%;
  .hero-img-accent-light-mode,
  .hero-img-accent-dark-mode {
    display: none;
  }
}
.hero-img {
  height: 90vh !important;
  width: 100%;
  position: absolute;

  top: 0;
  left: 0;
  z-index: 0;
  max-width: none;
  filter: brightness(60%) saturate(65%);

  object-fit: cover;
  background-size: cover;
  animation: introLoad 1s forwards;
  background-position-x: 20%;
  background-position-y: 20%;
}

@media (min-width: 600px) {
  .wrapper {
    margin: 1.5em 10em;

    text-align: left;
    section.hero {
      text-align: center;
      margin-bottom: 10em;
      .accent-svg {
        transform: translate(-50%, -300%);
      }
      .scroll-wrapper {
        text-align: center !important;
      }
    }
    .action-btn-wrapper {
      .action-btn {
        width: 250px;
      }
    }
    .more-info {
      .feature {
        .content {
          .darkmode-btn,
          .lightmode-btn {
            width: 250px;
          }
        }
      }
    }
  }
}
@media (min-width: 893px) {
  .wrapper {
    section.hero {
      .accent-svg {
        transform: translate(-100%, -100%);
      }
    }
  }
}
// focus here alignments
@media (min-width: 940px) {
  .wrapper {
    margin: 0em 1.5em 1em 1.5em;

    .more-info {
      .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 'left right';

        margin-bottom: 10em;

        svg {
          width: 30em !important;
          justify-self: right;
        }

        .content {
          text-align: left;
          width: 25em;
          justify-self: left;
        }
      }

      .right {
        svg {
          text-align: left;
          justify-self: left;
        }

        .content {
          justify-self: right;
        }
      }

      .feature.left {
        grid-template-areas: 'left right';

        .content {
          grid-area: left;
          text-align: right;

          justify-self: left;
        }
      }
    }

    section.hero {
      margin-top: 0em;

      justify-content: unset;
      align-items: unset;
      width: 50%;
      text-align: left;
      .action-btn-wrapper {
        .action-btn-dark-mode {
          color: rgba(0, 0, 0, 0.7);
          background-color: white;
          &:hover {
            background: none;
            color: white;
            border: 1px solid white;
            transition: background-color 200ms ease-out;
          }
        }
        .action-btn-light-mode {
          color: white;
          background-color: black;
          &:hover {
            background: none;
            color: black;
            border: 1px solid black;
            transition: background-color 200ms ease-out;
          }
        }
      }
      .hero-content-light-mode {
        color: black;
      }
      .hero-content-dark-mode {
        color: white;
      }
      .accent-svg {
        transform: translate(0%, -300%);
      }
      .heading-accent-dark-mode,
      .heading-accent-light-mode {
        display: block;
      }
      .sub-heading {
        margin-top: 6em;
      }
      .scroll-wrapper {
        text-align: left !important;
      }
      .scroll-light-mode {
        svg {
          path {
            fill: black;
          }
        }
      }
    }
  }

  .hero-img-wrapper {
    height: 42em;
    width: 55%;
    position: absolute;
    left: unset;
    right: 0;
    .hero-img-accent-dark-mode,
    .hero-img-accent-light-mode {
      display: block;
      position: absolute;
      transform: translateY(5%);

      z-index: 99;
    }
    .hero-img-accent-light-mode {
      svg {
        rect {
          fill: white;
        }
      }
    }
    .hero-img-accent-dark-mode {
      svg {
        rect {
          fill: black;
        }
      }
    }
  }

  .hero-img {
    z-index: 0;
    max-width: none;
    filter: brightness(60%) saturate(65%);

    object-fit: cover;
    background-size: cover;
    animation: introLoad 2s forwards;
    background-position-x: 20%;
    background-position-y: 20%;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    width: 1200px;
    .more-info {
      .feature {
        gap: 0;
      }
    }
  }
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
