.heading {
  margin-bottom: 2em;
}
.grid-container {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.1em;
}
.circle {
  position: absolute;
}
@media (min-width: 940px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;
  }
}
